body{
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-repeat: no-repeat;


}
.header{
	border-top: 4px solid #76C38F;
	background-color: rgba(0, 0, 0, 0.4);
	
}

.topbar_logo{
	
	width:70%;
	margin-top: 15px;
}

.topbar_logo h2{
	text-align: center;
	color:white;
}

.navbar{
	
	margin-top: 10px;

}
.navbar ul li{
	margin-left:35px;
   
}
.navbar ul li a{
	color:white!important;
}
.slider{
	background-color: rgba(0, 0, 0, 0.4);
}

.carousel-indicators li {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;

}

.slider_heading{
	width:50%;
	border:1px solid white;
}
.box1{
	
	height:360px;
	background: white;
	opacity: 0.8;
	}
.box1:hover{
	background:#76C38F;
	cursor: pointer;
}
.box_image{
    
      text-align: center;

	}
.box1 .box_image img{
      width:120px;
      height: 120px;
       margin-top: 10px;

	}

.box_text{
	 

	 width:70%;
	 margin:0 auto;
	
	 margin-top: 5px;
}
.box_text h2{
	 text-align: center;
}

.box_text p{
	 text-align: center;
}
.line{ 
	   display:block; 
	   margin:25px;
	   margin-top:0;
}

.line h2{
	font-size:15px; 
	text-align:center; 
	border-bottom:3px solid #303030; 
	position:relative; 
	margin-left: -25px;
    margin-right: -25px;
    color:white;
}
.line h2 span { 
	background-color:#303030; 
	position: relative; 
	top: 10px; 
	padding: 0 10px;
}
.box2{
	background:white;
	height:230px;
	opacity: 0.8;
}

.b_image img{
	width:100%;
	height:190px;
    border: 5px solid black;

}

.ftr{
	background:#151515;
	height: 40px;
    width: 100%;
    margin:0;
    opacity: 0.8;
}

.ftr h2{
	text-align: center;
	color: #fff;
}